ion-header{
    margin: 0px;
    background-color: rgba(12, 63, 25, 1);
    -webkit-background-color: rgba(12, 63, 25, 1);
    -o-background-color: rgba(12, 63, 25, 1);
    -moz-background-color: rgba(12, 63, 25, 1);
    border: 0px ;
}
ion-toolbar{
    margin-top: 0px;
    margin-inline: 0;
    padding-top: 0px;
    background-color: rgba(12, 63, 25, 1);
}
#title1{
    margin-top: 0px;
    border: 0px;
    background-color: rgba(12, 63, 25, 1);
    font-size: 0.8em;
    color: white;
}
#title2{
    margin-top: 0px;
    border: 0px;
    background-color: rgba(12, 63, 25, 1);
    font-size: 1.6em;
    text-align: center;
    color: white;
}
.header-collapse-condense ion-toolbar:first-of-type{
    padding: 0px;
    border: 0px;
}
ion-label{
    text-align: center;
    font-size: 1.3em;
}
#monto{
    text-align: center;
    font-weight: 100;
    
}
#resultado{
    margin-left: 20px;
    font-weight: bold;
    font-size: 1.3em;
}
#button{
    margin-left:auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 300px;
    box-shadow: 1px 1px 3px rgba(0,0,0,1);
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,1);
    -o-box-shadow: 1px 1px 3px rgba(0,0,0,1);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,1);
    border-radius: 10px;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0,0,0,1);
    -webkit-text-shadow: 1px 1px 5px rgba(0,0,0,1);
    -o-text-shadow: 1px 1px 5px rgba(0,0,0,1);
    -moz-text-shadow: 1px 1px 5px rgba(0,0,0,1);
}
#bs{
    position: absolute;
    margin-left: 230px;
    margin-top: -30px;
}
ion-card{
    background-color: lightgrey;
    box-shadow: 1px 1px 6px rgba(0,0,0,1);
    -webkit-box-shadow: 1px 1px 6px rgba(0,0,0,1);
    -o-box-shadow: 1px 1px 6px rgba(0,0,0,1);
    -moz-box-shadow: 1px 1px 6px rgba(0,0,0,1);
    color: black
}
ion-ion-card-content{
    color:black;   
}
ion-item{
    font-size: 1.3em;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    -webkit-text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    -o-text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    -moz-text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}